@import "settings";
@import "bower_components/foundation/scss/foundation";
@import "mixins";
@import "utils";

@import "../components/actionable-textarea";
@import "../components/buttons";
@import "../components/card";
@import "../components/checkbox-group";
@import "../components/collapse-group";
@import "../components/colors";
@import "../components/columns";
@import "../components/edit-mode";
@import "../components/evidence-group";
@import "../components/evidence-snippet";
@import "../components/fancy-search";
@import "../components/hover-edit";
@import "../components/input";
@import "../components/modal-dialog";
@import "../components/q-dropdown";
@import "../components/q-progress-bar";
@import "../components/radio-button-list";
@import '../components/simple-search-bar';
@import "../components/f-dropdown";
@import "../components/grid-dropdown";
@import "../components/tab-bar";
@import "../components/table";
@import "../components/tabs";
@import "../components/text";

@import "../modules/icons";

@import "../external/codemirror";
@import "../external/vis";
@import "../external/animate";


/*******************************************************************************
 ** Animations
 ******************************************************************************/

.liquid-container, .liquid-child, span.ember-view {
  width: 100%;
  height: 100%;
}

/*******************************************************************************
 ** Typeahead
 ******************************************************************************/

.typeahead-wrap {
  z-index: 10;
}

/*******************************************************************************
 ** Main
 ******************************************************************************/

html {
  font-size: $base-font-size;
}

body {
  @include themify {
    background-color: theme-get('background-color');
    font-family: theme-get('font-family');
    line-height: theme-get('line-height');
  }
}

body > .ember-view {
  width: 100%;
  height: 100%;
}

.row {
  width: 100% !important;
}

.row .row {
  margin: 0;
}

.row .row.full-width {
  max-width: 100% !important;
  width: 100% !important;
}

.rows-2 {
  height: 50%;
}

.rows-3 {
  height:33.3%
}
// 5 columns
.medium-2_4 {
  width: 20%;
}
// 7 columns
.medium-1_7 {
  width: 14.285%;
}
// 8 columns
.medium-1_5 {
  width: 12.5%;
}
// 9 columns
.medium-1_3 {
  width: 11.1%;
}
// 10 columns
.medium-1_2 {
  width: 10%;
}

.form-row {
  padding-bottom: 0.75rem;
}

.form-block {
  padding-top: 1rem;
}

.hover-area {
  display: inline-block;
}

.hover-area * {
  display: inline-block;
  padding: 0 0.25rem;
  margin-right: -0.25rem;
}

.alert-box {
  margin-bottom: 0;
  transition: opacity 1ms ease-out;
}

.alert-box.warning {
  background-color: #e3b000;
  border-color: #e3b000;
  color: #FFFFFF;
}

.highlight {
  background: #f9e075;
  padding: 0.1rem;
}

.highlight.red {
  background: #f97575;
  padding: 0.1rem;
}

a.no-hover:hover {
  color: inherit;
}

.button.secondary.active {
  background-color: #b9b9b9;
}

.text-left .button-text {
  padding: 0.6125rem 1rem 0.6125rem 0rem;
}

.pagination {
  padding-top:1rem
}

.search-popup {
  max-height: 500px;
  height: 500px;
}

.tag {
  border: 1px solid #bbb;
  border-radius: 2px;
  padding: 2px;
  background-color: #eee;
  margin: 2px;
}

.faded {
  color: #ccc;
}


/*******************************************************************************
 ** Off Canvas Menu
 ******************************************************************************/

 .off-canvas-list .fa {
   margin-right: 1rem;
 }

 .off-canvas-wrap,.inner-wrap {
   height: 100%
 }

 // Header Hamburger
 .left-small {
   border-right: none;
   width: 3.125rem;
 }

 // Header Hamburger Text
 .left-small+.left {
   margin-left: 2rem;
   font-size: 1rem;
   font-weight: 700;
   letter-spacing: .3rem;
   text-transform: uppercase;
 }

 .tab-bar .menu-icon span::after {
   left: 0.75rem;
   width: 1.5rem;
 }

.left-off-canvas-menu {
  width: 25rem;
  background: $ash;
}

ul.off-canvas-list li label {
  background: transparent;
  padding: 1.25rem;
  font-size: .9rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
}

ul.off-canvas-list li a {
  font-weight: 100 !important;
  letter-spacing: .3rem;
  text-transform: uppercase;
  text-decoration: none;
}


ul.off-canvas-list li a:hover {
  background: rgba($primary-color, 0.35);
}

ul.off-canvas-list li a.active {
  background: rgba($primary-color, 0.75);
  text-decoration: none;
}


.move-right > .inner-wrap {
  -webkit-transform: translate3d(25rem, 0, 0);
  -moz-transform: translate3d(25rem, 0, 0);
  -ms-transform: translate(25rem, 0);
  transform: translate3d(25rem, 0, 0);
}

 .move-right .exit-off-canvas {
  background: rgba($black, 0.5);
}



/*******************************************************************************
 ** Measure description
 ******************************************************************************/

.measure-description {
  text-align: center;
  font-style: italic;
  color: $white-smoke;
  line-height: 3em;
}

.main-content {
  margin-bottom: 2em;
}

.evidence-selected {
  @extend .slideOutRight;
  @extend .animated;
  animation-duration: .2s;
}

.evidence-unselected {
  @extend .slideInRight;
  @extend .animated;
  animation-duration: .2s;
}

.criteria-support {
  @extend .slideInLeft;
  @extend .animated;
  animation-duration: .2s;
  margin: 1em;
  padding-top: 1em;
  border-top: 1px solid #ccc;
}

.criteria-title, .lower-case {
  text-transform: lowercase;
}

.criteria-date {
  font-style: italic;
  color: #999;
  font-size: .9em;
}

.no-results {
  font-size: 1.5em;
  color: #aaa;
  margin-top: 5em;
  text-shadow: rgb(255, 255, 255) 0px -2px 2px;
  margin-bottom: 5em;
  text-align: center;
}

.no-results.no-margin {
  margin: 0;
}

.icon-small {
  width: 1.5em;
  margin-right: 0.5em;
}

.transitioned {
  transition: height 0.5s;
}

.hover {
  cursor: pointer;
}

.hover:hover {
  background: rgba(39,157,245,0.1) !important;
  transition: 0.2s;
}

.selecting > .liquid-child {
  overflow-y: auto;
}

/*******************************************************************************
 ** Filter card stuff
 ******************************************************************************/

.draggable-object-target .message-text {
  border: 1px dashed #c9c9c9;
  color: #999;
  padding: 1.5rem;
  margin: 1rem;
}

.draggable-object-target.accepts-drag .message-text {
  border-color: #3a46a3;
}

.row.header {
  height: 3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab-bar-section .search-input-wrapper input[type=text] {
    text-transform: uppercase;
    letter-spacing: .2rem;
}

