$suggestion-background: #fff;
$suggestion-color: #333;
$selected-suggestion-background: rgba(58, 70, 163, 0.2);
$selected-suggestion-color: $suggestion-color;
$selected-suggestion-border-color: rgba(58, 70, 163, 0.3);
$selected-suggestion-weight: bold;
$selected-suggestion-background-hover-color: rgba(58, 70, 163, 0.1);

.qpid-autocomplete {
  position: relative;

  .dropdown-wrap {
    max-height: 325px;
    overflow-y: auto;
    position: relative;
    display: block;
    position: absolute;
    min-width: 100%;
    margin-top: 3px;
    margin-left: 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    z-index: 2000;
  }
  ul.suggestions {
    background: $suggestion-background;
    color: $suggestion-color;
    display: block;
    margin-left: 0;
    line-height: 1rem;
    list-style: none;
    margin-bottom: 0;

    li {
      padding: 0.8rem 1rem;
      border-top: 1px solid $suggestion-background;
      border-bottom: 1px solid $suggestion-background;
      cursor: pointer;

      &.selected-suggestion {
        color: $selected-suggestion-color;
        background: $selected-suggestion-background;
        border-top: 1px solid $selected-suggestion-border-color;
        border-bottom: 1px solid $selected-suggestion-border-color;
        font-weight: $selected-suggestion-weight;
      }

      &:hover {
        background: $selected-suggestion-background-hover-color;
      }

      &.heading {
        enabled:false;
        color:#3A46A3;
      }
    }
  }
  .spinner-display {
    padding: 4px 0;
    position: relative;
  }
  .dropdown-arrow {
    pointer-events: none;
    font-size: 1.4rem;
    bottom: 0px;
    position: absolute;
    right: 0px;
    padding: 0.5rem;
    cursor: pointer;
  }
}
