
button, .button {
  @include themify {
     border-radius: theme-get(border-radius);
     border-width: 0.2rem;
     border-style: solid;
     font-size: theme-get(button-font-size);
     font-weight: bold;
     padding: 0.80rem 1.75rem 0.70rem;
     margin: 0.25rem 0.30rem;
     letter-spacing: .25rem;
     text-transform: uppercase;
     outline: none;
     background-color: theme-get(primary-color);
     border-color: theme-get(primary-color);
     transition: background-color .4s, border-color .4s, color .4s;

     &:hover, &:visited, &:active {
       background-color: darken(theme-get(primary-color), 10);
       border-color: darken(theme-get(primary-color), 10);
     }

     &.tiny {
       padding: 0.5rem 0.8rem;
       font-size: .8em;
     }

     &.small {
       padding: 0.6rem 1rem;
     }

     &.current {
       background-color: $button-bg-hover;
       &.alert {
         background-color: $alert-button-bg-hover;
       }
       &.success {
         background-color: $success-button-bg-hover;
       }
       &.secondary {
         background-color: $secondary-button-bg-hover;
       }
       &.info {
         background-color: $info-button-bg-hover;
       }
     }

     &.secondary {
       background-color: theme-get(secondary-color);
       border-color: theme-get(secondary-color);
       color: white;

       &:hover, &:visited, &:focus, &:active {
         background-color: darken(theme-get(secondary-color), 10);
         border-color: darken(theme-get(secondary-color), 10);
         color: white;
       }

       &.disabled, &.disabled:hover, &.disabled:visited, &.disabled:focus {
         background-color: theme-get(disabled-color);
         border-color: theme-get(disabled-color);
         color: white;
       }
     }

     &.outline-only {
       border-width: 0.2rem;
       padding: 0.80rem 1.75rem 0.70rem;
       background-color: transparent;
       color: theme-get(primary-color);

       &.small {
         padding: 0.475rem 1.25rem;
       }

       &:hover {
         background-color: rgba(theme-get(primary-color), 0.1);
         color: darken(theme-get(primary-color), 10);
       }

       &.disabled, &.disabled:hover, &.disabled:focus, &.disabled:active, &.disabled:visited {
         color: theme-get(disabled-color);
         background-color: transparent;
         border-color: theme-get(disabled-color);
         border-style: solid;
       }

       &.alert {
         color: $alert-button-border-color;
         border-color: $alert-button-border-color;
       }

       &.success {
         color: $success-button-border-color;
         border-color: $success-button-border-color;
       }

       &.secondary {
         color: $secondary-button-border-color;
         border-color: $secondary-button-border-color;
       }

       &.info {
         color: $info-button-border-color;
         border-color: $info-button-border-color;
       }
     }
  }
}

.button-text {
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: bold;
  letter-spacing: .2rem;
  padding: .6125rem .5rem;
  margin: .45rem .75rem .4rem;
  display: inline-block;
}

.button-link {
  padding: 0.2rem 0.5rem;
  text-align: center;
  opacity: 0.666;
  transition: .2s opacity;
  &:hover {
    opacity: 1;
  }
}

.button-group {
  word-spacing: 0;
  font-size: 0;

  // * is the devil selector
  &.round > * {
    display: inline-block;
    margin: 0;
    &:first-child button, &:first-child .button {
      border-left: 0.2rem solid #009bf7;
    }
    button, .button {
      border: 0.2rem solid #009bf7;
      border-left-width: 0;
      margin: 0;
      letter-spacing: 0.1rem;
      font-size: 0.9rem;
      padding: 0.7rem 1.2rem;
    }
    button.outline-only, .button.outline-only {
      padding: 0.7rem 1.2rem;
    }
  }
}
