.card-column .main .card.fact-card input, .card-column .main .card.fact-card textarea {
  margin: 0 0 0.35rem 0;
}

.more-btn {
  @extend .lower-case;
  @extend .card-padding;
  font-family: $font-family-sans-serif;
  letter-spacing: .1em;
  padding-top: 0.6rem;
  float: right;

  &:hover {
    text-decoration: underline;
  }
}

.search-popup .card p {
  padding-top: 0.25rem;
  padding-left: 0.5rem;
}

.card-padding {
  padding: 1rem 1rem 0.6rem 1rem;
}

.card.small.selected, .active > .card.small, .card.force-small.selected, .active > .card.force-small {
  background: #fff;
  color: #222;
  @if theme-get(has-shadow) == 1 {
    box-shadow: 0 0.05em 0.2em rgba(0, 0, 0, 0.25), inset 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
  }
}

.card.alert.selected, .card.card-button.selected {
  background: #fff;
  color: #222;
  box-shadow: 0 0.05em 0.2em rgba(0, 0, 0, 0.25), inset 0 0 0 0.15em rgba(0, 0, 0, 0.25);
}

.card-full, .card-left, .card-small-left, .card-right {
  display: block;
  max-width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}

.header::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.card-small-left {
  max-width: 10%;
}

.card-full {
  max-width: 75%;
}

.card-right {
  float: right;
  color: #999;
}

.card-left + .card-right {
  max-width: 25%;
}

/*******************************************************************************
 ** Card Group
 ******************************************************************************/

.card-group {
  margin: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.15);
  border-radius: 0.2rem;

  & > .heading {
    text-transform: uppercase;
    /* font-size: 0.875rem; */
    font-weight: 400;
    color: #999;
    line-height: 3.45em;
    padding: 0 1em;
    border-bottom: 0.1rem solid #DDD;
    background-color: #F4F4F4;
    margin: 0 !important;
  }

  &.streamline {
    margin: 0;
    border: none;
    border-radius: 0;
  }

  &.streamline .card:last-child {
    border-bottom: 0.1rem solid #ddd;
  }
}
