.reveal-modal {
  visibility: visible;
  display: block;
  top: 10% !important;

  &.centered {
    text-align: center;
  }
  &.small-width {
    width: 374px;
  }
  p {
    text-transform: none;
    letter-spacing: normal;
    font-size: 1.15rem;
    margin-bottom: 1.5rem;
  }
  .close-reveal-modal {
    right: .4rem;
    font-weight: 400;
    line-height: 1.2rem;
  }
  .close-reveal-modal:hover {
    color: #009BF7;
  }
}

.theme-evicore, .theme-carriersweb {
  .reveal-modal {
    letter-spacing: 0.05rem;
    border: 0px;
    box-shadow: 0px 0px 10px 5px #999;
    padding: 20px 75px 20px 75px;
    width: 60%;

    button {
      margin: 10px 10px 10px 10px;
      width: 80%;
      white-space: nowrap;
    }

    input, textarea {
     border-radius: 0px;
     margin: 10px 0px 0px 0px;
    }

    .modal-image {
      height: 100px;
      width: 100px;
    }

    .modal-highlight {
      background-color: #eee;
      border-radius: 5px;
      padding: 1rem;

      p {
        font-size: 0.75rem;
        margin: 0;
      }

      p + p {
        display: block;
        margin-top: 0.5rem;
      }
    }

    .modal-title {
      color: rgb(68, 68, 68);
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 0.2rem;
    }

    .modal-help {
      background-color: rgb(244, 234, 202);
      color: rgb(101, 76, 0);
      font-size: 0.8rem;
      font-style: italic;
      margin: 30px 0px 20px 0px;
      padding: 10px;

      /* SHADOW */
      -moz-box-shadow:    inset 0px 3px 5px #ccc;
      -webkit-box-shadow: inset 0px 3px 5px #ccc;
      box-shadow:         inset 0px 3px 5px #ccc;
    }

    .modal-text {
      margin: 15px;
      font-size: 1rem;
      line-height: 1.25;
    }

    .modal-sub-text {
      margin: 15px;
      font-size: 0.8rem;
    }

    /* INPUT PLACEHOLDER STYLES */
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #bbbbbb;
      font-style: italic;
      letter-spacing: 0.1rem;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #bbbbbb;
      font-style: italic;
      letter-spacing: 0.1rem;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #bbbbbb;
      font-style: italic;
      letter-spacing: 0.1rem;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: #bbbbbb;
      font-style: italic;
      letter-spacing: 0.1rem;
    }
  }
}

.reveal-modal-bg {
  display: block;
}

.reveal-modal h2,
.reveal-modal h3 {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  letter-spacing: normal;
  text-transform: inherit;
  padding-top: 1.5rem;
}
