.reveal-modal-bg {
  display: block;
}

.reveal-modal h2,
.reveal-modal h3 {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  letter-spacing: normal;
  text-transform: inherit;
  padding-top: 1.5rem;
}
