.search-bar {
  i {
    color: #999;
    position: absolute;
    top: 0.5rem;

    &.left {
      left: 0.5rem;
    }
    &.right {
      right: 0.5rem;
    }
  }

  input {
    background-color: #DDD;
    border: none;
    border-radius: 0;
    color: #999;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding-left: 2.5rem;
    padding-right: 2rem;
    text-transform: none;
    @include placeholder(#999);
  }

  input::-ms-clear {
    display: none;
  }
}
