.search-bar {
  @include themify {
    i {
      color: theme-get(search-color);
      position: absolute;
      top: 0.5rem;

      &.left {
        left: 0.5rem;
      }
      &.right {
        right: 0.5rem;
      }
    }

    input {
      background-color: theme-get(search-background-color);
      border: none;
      border-radius: 0;
      color: theme-get(search-color);
      font-weight: bold;
      letter-spacing: 0.1rem;
      padding-left: 2.5rem;
      padding-right: 2rem;
      text-transform: none;
      @include placeholder(theme-get(search-color));
    }

    input::-ms-clear {
      display: none;
    }
  }
}
