<div class="columns card-column flex-wrapper {{mediumWidthClass}}
  {{if white 'bg-white'}} {{if animated 'animated'}}">

  {{yield}}

  {{#if resize}}
    <div class="resize-space full-height"></div>
  {{/if}}

</div>
