<div class="button-text small-margin test-back-link">
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{#link-to linkTo}}
      {{fa-icon icon="chevron-left"}}
      {{if linkText linkText "Back"}}
    {{/link-to}}
  {{/if}}
</div>
