<div class="actionable-textarea">
  <form data-abide>
    <div>
      {{textarea id=taId placeholder=taPlaceholder value=taValue focus-out="taFocusOut"}}
      <small class="error">Should be a comma seperated list of "title: doc_title" or "type: doc_type"</small>
    </div>
  </form>
  <div class="controls">
    {{!-- DO NOT ADD WHITESPACES TO THE BELOW LINE BEFORE OR AFTER THE SPAN --}}
    {{#each taButtons as |button|}}<span {{action 'taButtonClick' button.addText}}>{{button.text}}</span>{{/each}}
  </div>
</div>
