{{#qpid-autocomplete
  searchQueryAction=searchAction
  itemSelected=onSelect
  allowUnsuggestedValues=true
  placeHolderText=placeHolderText as |result| }}
   {{result}}
{{/qpid-autocomplete}}

<div class='small-indent'>

  {{#each items as |item|}}

    <div class='card force-large'>
      <div class='row'>
        {{#card-left}}{{item}}{{/card-left}}

        {{#card-right}}
          <a {{action deleteItem item}}>{{fa-icon 'close'}}</a>
        {{/card-right}}
      </div>
    </div>

  {{/each}}

</div>
