{{#each options as |option|}}
  <li {{action 'toggle' option}}>
    {{!-- Weird conflicts between bound value and native response to click events
    causing strange effects with the 'checked' state, so just force it to use the
    bound value by blocking mouse events. --}}
    <span class="block-events"></span>
    <label>
      {{input type="checkbox" checked=option.value}}
      {{option.key}}
    </label>
  </li>
{{/each}}
