<li>{{input class=startClass type="date" focus-out="dateChange" insert-newline=onEnter value=startTime}}</li>
<li>{{input class=endClass type="date" focus-out="dateChange" insert-newline=onEnter value=endTime}}</li>
{{yield}}
