<div class='full-width search-bar'>
  {{fa-icon icon='search' size='2' class='left' }}

  {{input value=value
    placeholder=placeholderText
    key-up=onChange
    type='text' }}

  {{#if showClearButton }}
    {{fa-icon size='lg' icon='close' class='right hover'
      click=onClear }}
  {{/if}}
</div>
