<div class='switch large row'>
  {{input class='switch-input'
    id=switchId
    type='checkbox'
    disabled=disabled
    checked=checked
    click=toggleAction }}

  <label class='switch-paddle' for={{switchId}}></label>
</div>

