<div class="row outer-container">
  <div class="large-3 medium-4 columns navbar">
    <ul>
      <li><h5>Component Examples</h5></li>
      <li>{{#link-to 'summary-results'}}Summary Results{{/link-to}}</li>
      <li>{{#link-to 'fancy-search'}}Fancy Search{{/link-to}}</li>
      <li>{{#link-to 'accordion'}}Accordion{{/link-to}}</li>
    </ul>
  </div>

  <div class="large-9 medium-8 columns">
    <div class="main">
      {{outlet}}
    </div>
  </div>
</div>
